@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --rojoBrillante: rgb(242, 95, 58);
    --azulOscuro: rgb(35, 44, 81);
    --azulGrisáceoOscuro: rgb(143, 148, 167);
    --azulMuyOscuro: rgb(29, 30, 37);
    --rojoMuyPálido: rgb(255, 239, 234);
    --varianteGrisClaro: rgb(249, 249, 249);
}


header {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul:hover{
    color: pink;
}

nav ul li a {
    text-decoration: none;
    color: var(--azulMuyOscuro);
    justify-content: space-between;
    font-weight: 500;
    font size: 1.5rem;
}

.orangebutton {
    background-color: var(--rojoBrillante);
    color: var(--varianteGrisClaro);
    box-shadow: 0px 0.25rem 0.438rem rgba(0, 0, 0, 0.25);
    width: 9rem;
    height: 3rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

.article1 {
    max-width: 31rem;
    min-width: 19.5rem;
}

.article1 img {
    width: 140%;
}

h1 {
    font-weight: 700;
    font-size: 3.625rem;
    letter-spacing: -0.035em;
    color: var(--azulOscuro);
}

.section1 p {
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 157.1%;
    width: 24.063rem;
    text-align: left;
}

.section2 {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin: 0 24rem;
    width: 67%;
    padding-top: 50px;
}

.section2Article1 {
    width: 35%;
    min-width: 19.5rem;
    margin-right: 5em;
}



.section2 h2 {
    margin: 0;
    font-size: 2rem;
    color: var(--azulOscuro);
    width: 27.063rem;
    margin-bottom: 2.25rem;
}

.section2 .section2Article1 p{
    width: 21rem;
}

.section2Article2 {
    width: 40%;
    min-width: 19.5rem;
    box-sizing: border-box;
    padding: 0.625rem;
    
}

.section2Lista{
    width: 31.25rem;
    
}

.section2Lista li {
    display: flex;
    list-style: none;
    margin-bottom: 2.625rem;
    

}

.section2Conteiner {
    margin-left: 1.125rem;
    margin-bottom: 1.125rem;
    
}

li div p {
    margin-top: 1.125rem;
    color: var(--azulGrisáceoOscuro);
    
}


.section2Lista span {
    padding: 0.625rem 1.563rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.438rem;
    
}


.box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
}

.box span {
    font-weight: 700;
    color: var(--azulOscuro)
}

.pBox {
    margin-top: 1.125rem;
    padding-left: 6em;
    color: var(--azulGrisáceoOscuro);
}

.mini-orangebutton {
    background-color: var(--rojoBrillante);
    width: 4.313rem;
    height: 3rem;
    border-radius: 1.875rem;
    color: var(--varianteGrisClaro);
    border: none;
}



.section3 {
    margin-top: 32rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-items: center;
    margin: 4.69rem 0rem 4.69rem 0rem;
    align-items: center;
    justify-content: space-around;

}

.section3 article{
    margin-bottom: 3rem;
}
.carrusel {
    margin-top: 4.625rem;
    display: flex;
    gap: 0.313rem;
    margin-bottom: 3rem;
    width: 80%;
}

.cards {
    width: 33%;
    min-width: 17.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--varianteGrisClaro);
    box-sizing: border-box;
    padding: 1.875rem;
    margin-top: 1.25rem;
    text-align: center;
}

.cards img {
    margin-top: -6.25rem;
    margin-bottom: 1.313rem;
}

.carrusel .cards p {
    color: var(--azulGrisáceoOscuro);
}

.justif .orangebutton {
    margin-top: 2rem;

}


.footer1 {
    display: flex;
    background-color: var(--rojoBrillante);
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin-top: 3.125rem;
    height: 14rem;
}

.ultimoTitulo {
    font-size: 1.5rem;
    max-width: 350px;
    min-width: 310px;
    color: #fff;
    text-align: left;
}

.whiteButton {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 3rem;
    color: #F3603B;
    border: none;
    cursor: pointer;
}

.footerSection2 {
    display: flex;
    padding-top: 5rem;
    padding-left: 10.625rem;
    background-color: black;
    justify-content: space-between;
    height: 20rem;
}


.redesSociales {
    margin-top: 4.125rem;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.redesSociales i{
    font-size: 24px;
    color: #fff;
}

.footerSection3 {
    display: flex;
    justify-content: space-between;
}



.footerSection3 ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footerSection3 ul li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 1.5rem;
    font-weight: 100;
}

.footerSection3:last-child {
    margin-right: 10.313rem;
    flex-direction: column;

}

.footerOrangebutton {
    background-color: var(--rojoBrillante);
    width: 4rem;
    height: 2.625rem;
    border-radius: 1.875rem;
    color: var(--varianteGrisClaro);
    border: none;
}

.footerForm {
    border-radius: 1.875rem;
    width: 12.563rem;
    height: 2.625rem;
    padding-left: 1.5rem;

}

footer p {
    color: var(--azulGrisáceoOscuro);
    text-align: right;
    margin-bottom: 3.313rem;
    font-weight: 500;
    font-size: 0.781rem;

}

.orangebutton:hover, .footerOrangebutton:hover{
    background-color: pink;
}

body::before {
    background-image: url(../img/bg-tablet-pattern.svg);
    content: '';
    position: absolute;
    top: -150px;
    right: 0px;
    width: 38rem;
    height: 43rem;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1000;
}

body::after {
    background-image: url(../img/bg-tablet-pattern.svg);
    content: '';
    position: absolute;
    left: -250px;
    bottom: -500px;
    width: 38rem;
    height: 43rem;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1000;
}

@media (max-width: 375px) {
    .section1{
        display: flex;
        flex-direction: column;
    }

    .article2{
        order: 1;
    }

    .section2{
        display: flex;
        flex-direction: column;
        
    }
}